Werkzeug==2.2.2
absl-py
annotated-types
anyio
asttokens
awscli
backports.tarfile
blinker
boto3
botocore
certifi
charset-normalizer
click
cloudinary~=1.40.0
colorama
contourpy
cycler
decorator
dnspython
docker
docker-pycreds
docutils
email_validator
exceptiongroup
executing
fastapi~=0.111.0
fastapi-cli
filelock
Flask~=2.2.5
Flask-WTF
fonttools
fsspec
gitdb
GitPython
grpcio
h11
httpcore
httptools
httpx
idna
imageio
importlib_metadata
importlib_resources
iniconfig
ipython
itsdangerous
jaraco.classes
jaraco.context
jedi
Jinja2
jmespath
joblib
keyring
keyrings.alt
kiwisolver
lazy_loader
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
more-itertools
mpmath
networkx
numpy~=1.25.2
opencv-python~=4.9.0.80
opencv-python-headless
orjson
packaging
pandas
parso
pexpect
pillow~=10.3.0
pluggy
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyasn1
pycocotools
pydantic~=2.7.1
pydantic_core
Pygments
pymongo~=4.7.2
pyparsing
pytest
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
rich
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scipy
seaborn
shellingham
six
smmap
sniffio
stack-data
starlette
sympy
tabulate
tensorboard
tensorboard-data-server
thop
threadpoolctl
tifffile
tomli
torch~=2.3.0
torchvision
tqdm
traitlets
typer
typing_extensions
tzdata
ujson
ultralytics~=8.2.15
urllib3
uvicorn
uvloop
voluptuous
watchfiles
wcwidth
websocket-client
websockets
Werkzeug
WTForms~=3.1.2
yolo
zipp
gunicorn
supervision~=0.21.0